{% block content %}
    <h3><a class="ui header" href="{{ path('homepage') }}">Hacker News</a></h3>
    <nav>
        <div class="ui three item menu">
            <a class="item" href="{{ path('news') }}">news</a>
            {# <a class="item" href="{{ path('newest') }}">newest</a> #}
            <a class="item" href="{{ path('show') }}">show</a>
            <a class="item" href="{{ path('ask') }}">ask</a>
        </div>
    </nav>
{% endblock %}